.wrapper {
  width: 1440px;
  max-width:100%;
  margin:0 auto;
}
.button {
  &__link {
    @extend .btn;
    padding: 0.5em 1.7em;
  }
  &--centered{
    display:flex;
    justify-content: center;
  }
}
